---
title: "The Ellogon Annotation Platform"
linkTitle: "Ellogon Annotation Platform"
description: "An <b>open-source</b>, <b>free</b> to use, <b>customisable</b>, <b>collaborative</b> Data Annotation Platformtool - in the cloud!"
---

<!--
{{< blocks/cover title="Welcome to the Ellogon Annotation Tool!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://annotation.ellogon.org" target="_blank">
		Start Annotating now! <i class="fas fa-tags ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/iit-Demokritos/clarin-el-annotation-tool" target="_blank">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">An <b>open-source</b>, <b>free</b> to use, <b>customisable</b> data annotation tool - in the cloud!</p>
	{{< blocks/link-down color="info" id="td-block-2" >}}
</div>
{{< /blocks/cover >}}
-->

<div class="hero">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-7 col-lg-6 col-md-6 hero-section-mobile">
        <h1 class="hero-title">
          Open Source<br />
          Data Annotation<br />
          Platform
        </h1>
        <img
          class="img-fluid hero-banner show-mobile-big"
          src="/images/screenshots/2022/DebateLab.png"
          alt-text="Annotation Platform Screenshot"
        />
        <br />
        <a href="/docs/getting-started/online/"
          ><button class="hero-big">
            <i class="fas fa-tags mr-2"></i> Start Annotating Now!
          </button></a
        >
      </div>

      <div class="col-xl-5 col-lg-6 col-md-6 show-desktop-big">
        <img
          class="img-fluid hero-banner"
          src="/images/screenshots/2022/DebateLab.png"
          alt-text="Annotation Platform Screenshot"
        />
      </div>
    </div>
  </div>
</div>


<!--
{{ with .Site.Params.banner }}
{{ if .enable }}
{{.Title}}
{{< blocks/banner title="{{.title}}" button_link="{{.button_link}}" button_text="{{.button}}" >}}
  {{< blocks/link-down color="info" id="td-block-2" >}}
{{< /blocks/banner >}}
{{ end }}
{{ end }}
-->

{{% blocks/lead color="primary" %}}
**What is the "Ellogon Annotation Platform"?**

**[Ellogon](https://www.ellogon.org)** is a natural language enginnering infrastructure and platform, which includes a data Annotation Engine.

The **[Ellogon Annotation Platform](https://annotation.ellogon.org)** is a **data labelling tool**, based on [Ellogon](https://www.ellogon.org)'s engine.

<div class="row justify-content-center align-items-center">
  <a href="/docs/"><button class="hero-big"><i class="fas fa-book mr-2"></i>Learn More</button></a>
</div>
{{% /blocks/lead %}}

<!--
{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
-->

<!--
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>
{{< /blocks/section >}}
-->

{{< blocks/section >}}
<!--
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}
-->

{{% blocks/feature icon="fa fa-blank" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/iit-Demokritos/clarin-el-annotation-tool" url_text="Contribute to the Ellogon Annotation Platform" %}}
We do a [Pull Request](https://github.com/iit-Demokritos/clarin-el-annotation-tool/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

<!--
{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
-->

{{% blocks/feature icon="fa fa-blank" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}

<!--
{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->
